
.main-container{

    display: flex;
    
    flex-grow: 1;
    background-color: var(--color2);

    font-size: 20px;
    color: var(--color3);

    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color1);

    height: 50px;

    a:hover 
    {
        color: var(--color5);
        font-weight: bold;
        text-decoration: underline;
        scale : 1.5;
                
    }

}

.footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color5);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-top: 5px solid var(--color1);

}