
.main-container{

    display: flex;
    
    flex-grow: 1;
    background-color: var(--color2);

    font-size: 20px;
    color: var(--color3);

    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--color1);

    height: 50px;

    a:hover 
    {
        color: var(--color5);
        font-weight: bold;
        text-decoration: underline;
        scale : 1.5;
                
    }

}
