.option{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 16px;
    margin-bottom: 5px;

    background-color: var(--color2);

    width: 14vw;
    height: 74vh;
}

a:hover 
    {
        display: flex;
        color: var(--color5);
        font-weight: bold;
        text-decoration: underline;
        scale : 1.25;
                
    }