:host {
    display: block;
    width: 100%;
    height: 74vh;
    overflow-y: scroll ;
}

.card {
    padding: 2rem;
    justify-items: center;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    margin-top: 2rem;
}

.job-card {
    justify-items: center;
    width: 18rem;
    border-radius: 50px;
    flex-shrink: 0;
}