// *{
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     height: 74vh;
//     width: 84vw;

//     background-color: var(--color6);

//     margin-right: 5px;

// }

:host {
    display: block;
    width: 100%;
    height: 74vh;
    overflow-y: scroll ;
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}