*{
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 74vh;
    width: 84vw;

    background-color: var(--color6);

    margin-right: 5px;

}