:host {
    margin-top: auto;
}

.footer{
    
    display: flex;

    background-color: var(--color5);

    justify-content: space-around;
    
    align-items: center;
    border-top: 5px solid var(--color1);

    height: 5vh;
    width: 100vw;

}
