
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* =========================================================
   RESET
========================================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* =========================================================
   VARIABLES DE COULEUR
========================================================= */
:root {
    --color1: #333;
}

/* =========================================================
   LAYOUT GLOBAL
========================================================= */
.global {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* STAT PERSO */
.statperso {
    flex: 0 0 14%;
    min-width: 120px;
    background-color: red;
    border-right: 2px solid var(--color1);
    overflow: auto;
}

/* MAP + PANELS + CHATBOX */
.map-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
}

/* MAP + ENCOUNTER + PROXIMITY */
.map-box {
    display: flex;
    flex: 1;
    min-height: 0;
}

/* MAP */
.map {
    flex: 7;
    background-color: aqua;
    border-right: 2px solid var(--color1);
    min-width: 0;
    overflow: auto;
}

/* PANELS */
.encounter, .proximity {
    flex: 1;
    min-width: 0;
    overflow: auto;
    border-left: 2px solid var(--color1);
}

.encounter { background-color: blue; }
.proximity { background-color: pink; }

/* CHATBOX */
.chatbox {
    flex: 0 0 14%;
    min-height: 80px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

/* =========================================================
   TABLETTE / MOBILE
========================================================= */
@media (max-width: 1024px) {

    .global {
        flex-direction: column;
    }

    .statperso {
        flex: 0 0 20%;
        min-height: 120px;
        border-right: none;
        border-bottom: 2px solid var(--color1);
    }

    .map-box {
        flex-direction: column;
    }

    .map {
        flex: 3;
        border-right: none;
        border-bottom: 2px solid var(--color1);
    }

    .encounter, .proximity {
        flex: 1;
        border-left: none;
        border-top: 2px solid var(--color1);
    }

    .chatbox {
        flex: 0 0 20%;
        min-height: 100px;
    }
}

/* ORIENTATION PAYSAGE TABLETTE */
@media (orientation: landscape) and (max-width: 1024px) {

    .global {
        flex-direction: row;
    }

    .statperso {
        flex: 0 0 18%;
        min-width: 120px;
        border-bottom: none;
        border-right: 2px solid var(--color1);
    }

    .map-box {
        flex-direction: row;
    }

    .map {
        flex: 7;
        border-bottom: none;
        border-right: 2px solid var(--color1);
    }

    .encounter, .proximity {
        flex: 1;
        border-top: none;
        border-left: 2px solid var(--color1);
    }

    .chatbox {
        flex: 0 0 20%;
        min-width: 120px;
    }
}
