* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.global {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100vw;
    height: 100vh;
}

.statperso {
    width: 14vw;
    height: 75vh;

    background-color: red;
    border: 2px solid #ccc;
    z-index: 1000;
}

.map-container {
    display: flex;
    flex-direction: column;
    
    width: 86vw;
    height: 75vh;

    background-color: var(--color6);
    border: 2px solid var(--color6);
    z-index: 1000;
}

.map-box {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: calc(100% - 14vh); 

    background-color: var(--color7);
    border-bottom: 2px solid var(--color6); 
    z-index: 1000;
}


.map {
    flex: 1;
    height: 100%;

    background-color: aqua;
    border: 2px solid var(--color6);
    z-index: 1000;
}


.proximity {
    width: 8vw;
    height: 100%;

    background-color: pink;
    border: 2px solid var(--color6);
    z-index: 1000;
}


.encounter {
    width: 8vw;
    height: 100%;

    background-color: blue;
    border: 2px solid var(--color6);
    z-index: 1000;
}


.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 14vh;

    background-color: chartreuse;
    border-top: 2px solid var(--color6);
    z-index: 1000;
}