.global{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
}


.statperso{
    width: 14vw;
    height: 75vh;

    background-color: red;
    border: 3px solid #ccc;
    z-index: 1000;
}

.map-container{
    flex-direction: row;
    align-items: flex-start;

    width: 86vw;
    height: 75vh;

    background-color: var(--color6);
    border: 1px solid #ccc;
    z-index: 1000;
}

.map{
    width: 70,9vw;
    height: 61vh;

    background-color: aqua;
    border: 1px solid #ccc;
    z-index: 1000;
}

.proximity{
    width: 8vw;
    height: 61vh;

    position: absolute;
    right: 0vw;
    top: 16.3vh;

    background-color: pink;
    border: 2px solid black;
    z-index: 1000;
}

.encounter{
    width: 8vw;
    height: 61vh;

    position: absolute;
    right: 8vw;
    top: 16.3vh;

    background-color: blue;
    border: 2px solid black;
    z-index: 1000;
}

.chatbox{
    justify-content: center;

    width: 85,9vw;
    height: 14vh;

    background-color: chartreuse;
    border: 1px solid #ccc;
    z-index: 1000;
}
