/* Conteneur principal */
.charger-container {
    width: 80vw;
    height: 70vh;

    margin-top: 1.5vh;
    margin-bottom: 0.45vh;

    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    background-color: var(--color6);
}


