<!-- <div *ngFor="let i of [].constructor(rows); let row = index" class="row">
  <div
    *ngFor="let j of [].constructor(cols); let col = index"
    class="{{(isPerso(row, col) ? 'cellPerso' : 'cell')}}"
    [attr.id]="row + '_' + col">
  </div>
</div> -->

<div class="map">

  <div class="map-container">

    <br>

    <a [routerLink]="['/menu', 'monde', 'fight']">Lancer un combat</a>

    <!-- <br>

    <a [routerLink]="['sauvegarder']">Sauvegarder</a>

    <br>

    <a [routerLink]="['charger']">Charger</a> -->

  </div>

  <router-outlet></router-outlet>