*{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}



.chatbox{

    width: 86vw;
    height: 15vh;
    background-color: chartreuse;
    border: 1px solid #ccc;
    z-index: 1000;
}

.statperso{

    width: 14vw;
    height: 77vh;
    background-color: red;
    border: 1px solid #ccc;
    z-index: 1000;
}

.map{
    width: 86vw;
    height: 62vh;

    background-color: aqua;
    border: 1px solid #ccc;
    z-index: 1000;
}
