.SignUp {
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 

  h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 1.5rem;
  }

  p-iftalabel {
    display: block;
    margin-bottom: 18px;

    input, p-password {
      width: 100%;
      font-size: 1rem;
    }
  }

  p-button {
    width: 100%;
    margin-top: 15px;

    button {
      font-size: 1rem;
      padding: 0.6rem;
    }
  }


  .p-invalid {
    border-color: #f44336 !important;
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.2);
  }

  @media (max-width: 500px) {
    padding: 20px;
    max-width: 90%;
    
    h3 {
      font-size: 1.3rem;
    }
  }
}