.perso{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
}

.perso-container {

    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 16px;
    margin-bottom: 5px;

    background-color: var(--color2);

    width: 14vw;
    height: 74vh;

}

.repos{

    border: none;
    background-color: transparent;
    color: var(--color3);
    font-size: 1em;

    text-decoration: underline;
}

.repos:hover{
    cursor: pointer;
    display: flex;
    color: var(--color5);
    font-weight: bold;
    text-decoration: underline;
    scale : 1.25;
}

a:hover{

    display: flex;
    color: var(--color5);
    font-weight: bold;
    text-decoration: underline;
    scale : 1.25;
                
}