
.banniere{
    display: flex;

    background-color: var(--color5);

    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--color1);

    height: 10vh;
}

.bannerImg {
    width: 4vw;
    height: auto;
}